.experience {
  height: auto;
  background-color: #191A1F;
  color: white;
  font-family: sans-serif;
  padding: 20px 0;
}

.experience-card {
  margin-right: 10%;
  color: white;
  height: auto;
  margin-top: 20px;
}

.one {
  margin-top: 100px;
}

.experience h1 {
  background-color: #FEDB01;
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  margin-left: 70%;
  padding-top: 10px;
  padding-left: 13%;
  width: 17%;
}

.experience h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding-top: 5px;
  color: #FEDB01;
}

.experience h3 {
  font-size: 18px;
  margin-left: 16px;
  line-height: 1.2;
}
.experience h4 {
  font-size: 16px;
  margin-left: 36px;
}

.experience li {
  display: inline-block;
  margin: 10px;
}

.exp {
  margin-bottom: 18px;
}

.experience p {
  font-size: 16px;
  margin-left: 36px;
  margin-bottom: 5px;
  line-height: 1.2;
}

#bio {
  width: 80%;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 20px;
  background-color: #4A4A4A;
  opacity: 10%;
}

.edu {
  margin-bottom: 16px;
  line-height: 1.2;
}
